<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762582811401-aa2rq5raqopj4r7hqtpkch4echqjmra0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762582811401-aa2rq5raqopj4r7hqtpkch4echqjmra0</string>
	<key>API_KEY</key>
	<string>AIzaSyD08u9E-n6l0ThzMJaMdMQ99RMyfiwDVmw</string>
	<key>GCM_SENDER_ID</key>
	<string>762582811401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.palmSample</string>
	<key>PROJECT_ID</key>
	<string>palm-api-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>palm-api-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762582811401:ios:d6dcad3707ae239e7f49d8</string>
</dict>
</plist>